* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100vh;
  width: 100vw;
}

.terrain {
  width: 100vw;
  height: 100%;
}

.heightmaps {
  display: flex;
  overflow: hidden;
  font-size: 0.7rem;
}

.heightmap {
  display: grid;
  min-width: 200px;
  grid-template-rows: 1fr repeat(4, 1.5rem);
  grid-template-columns: auto;
  margin: .5rem .25rem;
}

.heightmap-option {
    display: flex;
    justify-content: space-between;
}


.heightmap-option span,
.heightmap-option input {
  padding: .3rem;
  margin: 0;
}

.add-heightmap {
  font-size: 5rem;
  width: 200px;
  height: 200px;
  margin: .5rem .25rem;
  margin-bottom: 3rem;
  background-color: white;
  border: none;
}

.add-heightmap:hover {
  background-color: #a1cea8;
  cursor: pointer;
}

.heightmap canvas {
  width: 100%;
  height: auto;
}

.heightmap-sum-info {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 3;
}
